div{
    color: red;
}

.home-link a{
    text-decoration: none;
}
body{
    background-color: #ffa601cb;
}
#header-image{
   height:300px;
   width: auto;
   display:block;
   margin:auto;

}
#taco-pic{
    display: block;
    margin:auto;
}
.header-container{
    background-color: #ffa501b0;
}


.main-header{
    border: 3px solid red;
    text-align: center;
    font-size: 72px;
    font-family: sans-serif;
    padding:20px;
    background-color: bisque;
}

.container{
    display: flex;
    padding: 5px;
    gap:10px;
}

.container a{
    text-align: center;
    font-weight: bold;
    padding:20px 0px 20px 0px;
    font-family: 'Times New Roman', Times, serif;    
    border: 3px solid #cc8706bb;
    background-color: bisque;
    flex: 1;
}

div a{
    text-decoration: none;
}